* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #8a9e52;
    --secondary-color: #304D4E;
    --tertiary-color: #f0d699;
}

body {
    background-color: var(--tertiary-color);
    font-family: Arial, Helvetica, sans-serif;
}

/*header and navigation*/
header {
    padding: 18px 0px 10px 35px;
    background-color: var(--secondary-color);
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    justify-content: space-between;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
}

header h1 {
    font-weight: normal;
    font-size: 34px;
    color: var(--tertiary-color);
    text-shadow: 0  0 10px rgba(0, 0, 0, 0.8);
}

header a {
    text-decoration: none;
    color: var(--tertiary-color);
}

header nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

header nav ul { 
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-between;
    align-items: flex-end;
}

header nav ul li a {
    margin: 4px 20px;
    padding: 6px 15px;
    font-weight: normal;
    font-size: 1.9vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

header nav ul li a:hover {
    color: var(--primary-color);
    background-color: rgba(0, 0, 0, 68%);
    font-size: 1.92vw;
    border-radius: 15px;
    text-shadow: 0 0 10px var(--tertiary-color)
}

/*hero*/
.hero-img {
    height: 55vh;
    background-image: url("../images/wishyblows.JPG");
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: flex-end;
}

.hero-subtitle {
    padding: 4px 11px;
    color: black;
    background-color: rgba(0, 0, 0, 68%);
    border-radius: 15px;
    font-size: 40px;
    font-weight: bolder;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    text-shadow: 0 0 10px var(--tertiary-color);
    bottom: 0px;
}